.barcode-card p {
    font-size: 15px;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400, 700;
    background-color: hsl(212, 45%, 89%);
}
.barcode-image {
    width: 90%;
    padding: 10px;
    border-radius: 20px;
}
.barcode-card {
    width: 300px;
    border-radius: 10px;
    text-align: center;
    height: 460px;
    background-color: white;
    margin: auto auto;
    margin-bottom: 10px;
}
.barcode-card p {
    padding-left: 15px;
    padding-right: 15px;
    color: hsl(220, 15%, 55%);
}
.barcode-card h2 {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}